{% extends 'base.html.twig' %}

{% block title %}Currency index{% endblock %}
{% block page_title %} Currency {% endblock %}
{% block page_subtitle %} list {% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-3">
            <div class="btn-group">
                <a class="btn btn-info btn-sm" href="#" id="jqtablelist"><i class="fa fa-th-list"></i></a>
                <a class="btn btn-default btn-sm" href="#" id="jqtablebox"><i class="fa fa-th"></i></a>
            </div>
            <a class="btn btn-primary btn-sm" href="{{ path('currency_new') }}"><i class="fa fa-flash"></i>Create new</a>
        </div>
    </div>
    <br>

    <table class="table">
        <thead>
            <tr class="bg-aqua">
                <th>Id</th>
                <th>Libelle</th>
                <th>Code</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr class="contentimg">
                <td>{{ currency.id }}</td>
                <td>{{ currency.libelle }}</td>
                <td>{{ currency.code }}</td>
                <td>{{ currency.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('currency_show', {'id': currency.id}) }}"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-success btn-sm" href="{{ path('currency_edit', {'id': currency.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
