{% extends 'base.html.twig' %}

{% block title %}Rhstructuresalaire{% endblock %}
{% block page_title %} Structure Salaire {% endblock %}
{% block page_subtitle %} Detail {% endblock %}
{% block page_content %}

    <table class="table contentimg">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ rhstructuresalaire.id }}</td>
        </tr>
        <tr>
            <th>Libelle</th>
            <td>{{ rhstructuresalaire.libelle }}</td>
        </tr>
        <tr>
            <th>Reference</th>
            <td>{{ rhstructuresalaire.reference }}</td>
        </tr>
        </tbody>
    </table>
    <br>{##}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_before %}{% endblock %}
        {% block box_body %}
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Libelle</th>
                    <th>Regle</th>
                </tr>
                </thead>
                <tbody>
                {% for rhlignereglestructure in rhstructuresalaire.rhlignereglestructures %}
                    <tr>
                        <td>{{ rhlignereglestructure.id }}</td>
                        <td>{{ rhlignereglestructure.libelle }}</td>
                        <td>{{ rhlignereglestructure.rhreglesalaire }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
        {% block box_footer %}
        {% endblock %}

        {% block box_after %}{% endblock %}
    {% endembed %}
    <div class="row">
        <div class="col-md-9"> <a class="btn btn-warning" href="{{ path('rhstructuresalaire_index') }}">back to list</a>
            <a class="btn btn-primary" href="{{ path('rhstructuresalaire_edit', {'id': rhstructuresalaire.id}) }}">edit</a></div>
        <div class="col-md-3"> {{ include('rhstructuresalaire/_delete_form.html.twig') }}</div>
    </div>
{% endblock %}
