{% extends 'base.html.twig' %}

{% block title %}AdvanceSalaireEcheance{% endblock %}

{% block body %}
    <h1>AdvanceSalaireEcheance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advance_salaire_echeance.id }}</td>
            </tr>
            <tr>
                <th>Month</th>
                <td>{{ advance_salaire_echeance.month }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ advance_salaire_echeance.year }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ advance_salaire_echeance.montant }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ advance_salaire_echeance.statut ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('advance_salaire_echeance_index') }}">back to list</a>

    <a href="{{ path('advance_salaire_echeance_edit', {'id': advance_salaire_echeance.id}) }}">edit</a>

    {{ include('advance_salaire_echeance/_delete_form.html.twig') }}
{% endblock %}
