{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}
{% block page_title %} Activites {% endblock %}
{% block page_subtitle %} list :{{ customer.nomComplet }}{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input class="form-control" id="Search" name="Search" ng-change="vm.getElevesSearch(vm.search)" ng-model="vm.search"
                       placeholder="recherche " type="text"/>
                <div class="input-group-btn">
                    <button class="btn btn-default" ng-click="vm.resetInput(vm.search)"><i
                                class="glyphicon glyphicon-refresh glyphicon-spin"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn-group">
                <a class="btn btn-info btn-sm" href="#" id="jqtable_emplist"><i class="fa fa-th-list"></i></a>
                <a  class="btn btn-default btn-sm" href="#" id="jqtable_empbox"><i class="fa fa-th"></i></a>
            </div>
            <a class="btn btn-primary btn-sm" href="{{ path('activity_new') }}"><i class="fa fa-flash"></i> Create new</a>
            <a class="btn btn-primary btn-sm" href="{{ path('employeprintpdf') }}" target="_blank"><i class="fa fa-file-pdf"></i>&nbsp; print</a>

            <a class="btn btn-success btn-sm pull-right"  data-toggle="modal" data-target="#uploadModal"><i class="far fa-flash"></i>Importer</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr class="bg-aqua">
            <th>Id</th>
            <th>Libelle</th>
            <th>Description</th>
            <th>Visible</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr class="contentimg">
                <td>{{ activity.id }}</td>
                <td>{{ activity.libelle }}</td>
                <td>{{ activity.description }}</td>
                <td>{{ activity.visible ? 'Yes' : 'No' }}</td>
                <td style="text-align: right">
                    <div class="btn-group">
                        <a class="btn btn-info btn-sm" href="{{ path('activity_show', {'id': activity.id}) }}"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-primary btn-sm" href="{{ path('activity_edit', {'id': activity.id}) }}"><i class="fa fa-edit"></i></a>
                        <a href="#" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                            plus
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{path('timesheet_employe_new',{'id':activity.id})}}" ><i class="fa fa-check-circle"></i> Timesheet</a></li>
                            <li><a class="dropdown-item" href="#" ><i class="fa fa-user-friends"></i>Timesheets</a></li>
                            <li class="divider"></li>
                            <li><a class="dropdown-item" href="#" ><i class="fa fa-user-friends"></i>New Timesheet</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-trash"></i>Suprimer</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


