{% extends 'base.html.twig' %}

{% block title %}RhCategorieRegle{% endblock %}
{% block page_title %} Categorie regle {% endblock %}
{% block page_subtitle %} Detail {% endblock %}
{% block page_content %}

    <table class="table contentimg">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rh_categorie_regle.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ rh_categorie_regle.libelle }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ rh_categorie_regle.code }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ rh_categorie_regle.description }}</td>
            </tr>
            <tr>
                <th>Operation</th>
                <td>{{ rh_categorie_regle.operation }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">


        <div class="col-md-9"> <a class="btn btn-warning" href="{{ path('rh_categorie_regle_index') }}">back to list</a>

            <a class="btn btn-primary" href="{{ path('rh_categorie_regle_edit', {'id': rh_categorie_regle.id}) }}">edit</a></div>
        <div class="col-md-3"> {{ include('rh_categorie_regle/_delete_form.html.twig') }}</div>
    </div>
{% endblock %}
