{% extends 'base.html.twig' %}

{% block title %}Edit Employe{% endblock %}
{% block page_title %} Employes {% endblock %}
{% block page_subtitle %} edit {% endblock %}
{% block page_content %}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-12">
        <div class="row">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_before %}{% endblock %}
                {% block box_body %}
            <div class="col-md-2">
                {% if employe.imageFilename is defined and employe.imageFilename  is not null %}
                    <img id="img_emp" class="img img-responsive img-thumbnail" style="width:90%"
                         src="{{ asset('uploads/' ~ employe.imageFilename) }}" title="my image"
                         alt="My image">
                {% else %}  <img id="img_emp" class="img img-responsive img-thumbnail" style="width:90%"
                                 src="{{ asset('bundles/adminlte/images/default_avatar.png') }}" title="my image"
                                 alt="My image">
                {% endif %}
            </div>
            <div class="col-md-5">
                {{ form_row(form.nomComplet) }}
                {{ form_widget(form.imageFilename) }}
            </div>
            {% endblock %}
            {% block box_footer %}

            {% endblock %}

            {% block box_after %}{% endblock %}
            {% endembed %}
        </div>
        <div class="row">
            <div class="col-md-6">
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                    {% block box_before %}{% endblock %}
                    {% block box_title %}{{ 'information personnelle'|trans }}{% endblock %}
                    {% block box_body %}
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>

                        {{ form_row(form.telephone) }}
                        {{ form_row(form.sexe) }}
                        {{ form_row(form.adresse) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.dateNaissance) }}
                        {{ form_row(form.lieuNaissance) }}
                        {{ form_row(form.imageFilename) }}
                    {% endblock %}
                    {% block box_footer %}

                    {% endblock %}

                    {% block box_after %}{% endblock %}
                {% endembed %}
            </div>
            <div class="col-md-6">
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                    {% block box_before %}{% endblock %}
                    {% block box_title %}{{ 'information du professionelle'|trans }}{% endblock %}
                    {% block box_body %}

                        {{ form_widget(form) }}
                    {% endblock %}
                    {% block box_footer %}
                    {% endblock %}

                    {% block box_after %}{% endblock %}
                {% endembed %}
            </div>
        </div>
        </div>
        <div class="pull-right">
            <button type="reset" class="btn btn-warning "><i class="fa fa-times"></i> {{ 'Cancel'|trans }}</button>
            <button type="submit" class="btn btn-primary "><i class="fa fa-check-square"></i> {{ 'Submit'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
    <a class="btn btn-warning" href="{{ path('employe_index') }}"><i class="fa fa-arrow-left"></i>back to list</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        delete
    </button>

   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this item?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{{ path('employe_delete', {'id': employe.id}) }}">
                <div class="modal-body">
                       <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employe.id) }}">
                    <h3>{{ employe.nomComplet }}</h3>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div></form>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'employe/javascript.html.twig' %}
{% endblock %}