{% extends 'base.html.twig' %}

{% block title %}Employe index{% endblock %}
{% block page_title %} Employes {% endblock %}
{% block page_subtitle %} list {% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input class="form-control" id="Search" name="Search" ng-change="vm.getElevesSearch(vm.search)" ng-model="vm.search"
                       placeholder="recherche " type="text"/>
                <div class="input-group-btn">
                    <button class="btn btn-default" ng-click="vm.resetInput(vm.search)"><i
                                class="glyphicon glyphicon-refresh glyphicon-spin"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn-group">
                <a class="btn btn-info btn-sm" href="#" id="jqtable_emplist"><i class="fa fa-th-list"></i></a>
                <a  class="btn btn-default btn-sm" href="#" id="jqtable_empbox"><i class="fa fa-th"></i></a>
            </div>
            <a class="btn btn-primary btn-sm" href="{{ path('employe_new') }}"><i class="fa fa-flash"></i>Create new</a>
            <a class="btn btn-success btn-sm pull-right"  data-toggle="modal" data-target="#uploadModal"><i class="far fa-flash"></i>Importer</a>
        </div>
    </div>
    <br>
    <table class="table table-responsive" id="jqtable_employe">
        <thead>
            <tr class="bg-aqua">
                <th>Id</th>
                <th>NomComplet</th>
                <th>Matricule</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Sexe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td>{{ employe.id }}</td>
                <td>{{ employe.nomComplet }}</td>
                <td>{{ employe.matricule }}</td>
                <td>{{ employe.telephone }}</td>
                <td>{{ employe.adresse }}</td>
                <td>{{ employe.email }}</td>
                <td>{{ employe.sexe }}</td>
                <td>
                    <div class="btn-group pull-right">
                    <a  class="btn btn-info btn-sm" href="{{ path('employe_show', {'id': employe.id}) }}">show</a>
                    <a  class="btn btn-primary btn-sm" href="{{ path('employe_edit', {'id': employe.id}) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row" id="jqbox_employe">
        {% for employe in employes %}
            <div class="col-md-3">
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}

                    {% block box_body %}
                        {#<img class="col-md-5 img img-responsive img-thumbnail" width="100" height="70"
                             src="{{ asset('uploads/' ~ employe.imageFilename) }}" title="my image"
                             alt="My image">#}
                        {% if employe.imageFilename is defined and employe.imageFilename  is not null %}
                            <img id="img_emp" class="col-md-5 img img-responsive img-thumbnail"style="height: 75px;"
                                 src="{{ asset('uploads/' ~ employe.imageFilename) }}" title="my image"
                                 alt="My image">
                        {% else %}  <img id="img_emp" class="col-md-5 img img-responsive img-thumbnail"style="height: 75px;"
                                         src="{{ asset('bundles/adminlte/images/default_avatar.png') }}" title="my image"
                                         alt="My image">
                        {% endif %}
                        <div class="col-md-7">
                            {{ employe.nomComplet }}<br>
                           {# {{ employe.poste.libelle}}#}
                            <div class="btn-group">
                                <a class="btn btn-info btn-xs" href="{{ path('employe_show', {'id': employe.id}) }}">show</a>
                                <a class="btn btn-primary btn-xs" href="{{ path('employe_edit', {'id': employe.id}) }}">edit</a>
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            </div> {% endfor %}</div>
    <div class="navigation">
        {{ knp_pagination_render(employes) }}
    </div>
   {# <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('employe_delete', {'id': employe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employe.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
#}
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">importer Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('employe_upload') }}" enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="GET">
                        <input type="file" name="file">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">cancel</span>
                        </button>
                        <button class="btn btn-success">Upload</button>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'employe/javascript.html.twig' %}
{% endblock %}