{% extends 'base.html.twig' %}

{% block title %}Poste index{% endblock %}
{% block page_title %} Poste {% endblock %}
{% block page_subtitle %} list {{ departement.libelle }}{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-warning" href="{{ path('departement_index') }}"><i class="fa fa-arrow-left"></i>back to list</a>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <a class="btn btn-primary pull-right" href="{{ path('departement_index') }}"><i class="fa fa-arrow-left"></i>list</a>
        </div>
    </div>
    <br>
    <table class="table table-condensed">
        <thead>
        <tr class="bg-aqua">
            <th>Id</th>
            <th>Libelle</th>
            <th>Code</th><th>Departement</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for poste in postes %}
            <tr class="contentimg">
                <td>{{ poste.id }}</td>
                <td>{{ poste.libelle }}</td>
                <td>{{ poste.code }}</td>
                <td>{{ poste.departement.libelle }}</td>
                <td>
                    <div class="btn-group">
                        <a  class="btn btn-info btn-sm" href="{{ path('poste_show', {'id': poste.id}) }}">show</a>
                        <a  class="btn btn-primary btn-sm" href="{{ path('poste_edit', {'id': poste.id}) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
