<p>Entre les soussign&eacute;s :</p>
<p>La Soci&eacute;t&eacute; {{employe.departement.entreprise }} situ&eacute;e&nbsp;&nbsp; "..................."&nbsp; &ndash;&nbsp;&nbsp; ".....................", immatricul&eacute;e au Registre du Commerce et des Soci&eacute;t&eacute;s de ".............." sous le num&eacute;ro "....................",</p>
<p>Repr&eacute;sent&eacute;e par "................................", agissant en sa qualit&eacute; de "....................",</p>
<p>D&rsquo;une part,</p>
<p style="text-align: left;">Et :</p>
<p style="text-align: left;">Melle/Mr/Mme {{employe.nomComplet  }}, de nationalit&eacute;  {{employe.nationalite  }},</p>
<p style="text-align: left;">N&eacute;(e) le "<em>{{employe.dateNaissance ? employe.dateNaissance|date('Y-m-d') : '' }}</em>" &agrave;&nbsp; {{employe.lieuNaissance  }} &ndash; N&deg;SS&nbsp;: "...............................",</p>
<p style="text-align: left;">Demeurant au {{employe.adresse}}.</p>
<p style="text-align: left;">D&rsquo;autre part,</p>
<p style="text-align: left;">Il est arr&ecirc;t&eacute; et convenu ce qui suit :</p>
<p>&nbsp;</p>
<p><strong>Article 1&nbsp;: Engagement</strong></p>
<p>&nbsp;</p>
<p>Vous &ecirc;tes engag&eacute;(e) &agrave; compter du au sein de la soci&eacute;t&eacute;, sous r&eacute;serve du r&eacute;sultat favorable de la visite m&eacute;dicale d'embauche.</p>
<p><strong>Article 2&nbsp;: Fonctions exerc&eacute;es </strong></p>
<p>&nbsp;</p>
<p>Vous exercerez les fonctions de {{employe.poste}}, statut {{contrat.type.libelle}}, Niveau "....................", Coefficient "............".</p>
<p>Vous vous engagez &agrave; vous conformer aux dispositions conventionnelles en vigueur dans la soci&eacute;t&eacute; {{employe.departement.entreprise }} Actuellement, est applicable la Convention Collective n&deg; ".................."&nbsp;.</p>
<p>&nbsp;</p>
<p><strong>Article 3&nbsp;: Lieu de travail et clause de mobilit&eacute;</strong></p>
<p>&nbsp;</p>
<p>Votre lieu de travail sera le si&egrave;ge de la soci&eacute;t&eacute;, actuellement situ&eacute; {{employe.departement.entreprise.adresse }}.</p>
<p>Ce lieu de travail ou le service auquel vous &ecirc;tes affect&eacute;(e) pourra &ecirc;tre modifi&eacute; en fonction des &eacute;volutions internes de l&rsquo;entreprise. Les d&eacute;lais de pr&eacute;venance pour ces &eacute;ventuelles modifications respecteront les dispositions l&eacute;gales.</p>
<p>A ce titre, vous acceptez tout changement de lieu de travail dans la r&eacute;gion&nbsp; "................".</p>
<p>&nbsp;</p>
<p><strong>Article 4 : Dur&eacute;e du contrat et p&eacute;riode d&rsquo;essai </strong></p>
<p>&nbsp;</p>
<p>Le pr&eacute;sent contrat est conclu pour une dur&eacute;e ind&eacute;termin&eacute;e. En cons&eacute;quence, chacun de nous aura la facult&eacute; d'y mettre fin &agrave; tout moment, &agrave; charge de respecter les r&egrave;gles de proc&eacute;dures l&eacute;gales et conventionnelles.</p>
<p>Les 4 premiers mois de son ex&eacute;cution constituent une p&eacute;riode d'essai pour les cadres ou les 2 premiers &nbsp;mois de p&eacute;riode d&rsquo;essai pour les non cadres, au cours de laquelle chacune des parties pourra mettre fin sans indemnit&eacute; d'aucune sorte, &agrave; charge pour la partie qui rompt la p&eacute;riode d&rsquo;essai de respecter les dispositions l&eacute;gales et conventionnelles. Cette p&eacute;riode d'essai pourra &ecirc;tre prolong&eacute;e exceptionnellement d'une p&eacute;riode de m&ecirc;me dur&eacute;e.</p>
<p>&nbsp;</p>
<p><strong>Article 5 : R&eacute;mun&eacute;ration </strong></p>
<p>&nbsp;</p>
<p>Votre r&eacute;mun&eacute;ration annuelle brute est fix&eacute;e &agrave; {{contrat.salaire }}" &euro; (".............." euros), soit une r&eacute;mun&eacute;ration vers&eacute;e en douze mensualit&eacute;s d&rsquo;un montant forfaitaire brut de {{contrat.salaire *12}}&euro; (".........." euros).</p>
<p>Cette r&eacute;mun&eacute;ration rev&ecirc;t un caract&egrave;re forfaitaire et prend en consid&eacute;ration tout d&eacute;passement que vous serez amen&eacute; (e) &agrave; r&eacute;aliser &agrave; votre initiative.</p>
<p><strong>Article 6&nbsp;: Dur&eacute;e du travail</strong></p>
<p>&nbsp;</p>
<p>En fonction de l&rsquo;accord de l&rsquo;entreprise.</p>
<p>&nbsp;</p>
<p><strong>Article 7&nbsp;: Remboursement de frais</strong></p>
<p>&nbsp;</p>
<p>La soci&eacute;t&eacute; remboursera au salari&eacute; les frais engag&eacute;s par le salari&eacute; dans le cadre de l'exercice de ses fonctions, sur pr&eacute;sentation des justificatifs et conform&eacute;ment &agrave; la proc&eacute;dure de remboursement de frais applicable dans l'entreprise.</p>
<p>&nbsp;</p>
<p><strong>Article 8&nbsp;: Cong&eacute;s pay&eacute;s </strong></p>
<p>&nbsp;</p>
<p>Vous b&eacute;n&eacute;ficierez des cong&eacute;s pay&eacute;s et en l&rsquo;absence d&rsquo;accord commun, la date de vos cong&eacute;s pay&eacute;s sera d&eacute;termin&eacute;e par la soci&eacute;t&eacute;.</p>
<p>&nbsp;</p>
<p><strong>Article 9 : Protection sociale </strong></p>
<p>&nbsp;</p>
<p>Vous cotiserez aux diff&eacute;rents r&eacute;gimes de retraite et de pr&eacute;voyance en vigueur au sein de notre Soci&eacute;t&eacute;.</p>
<p>&nbsp;</p>
<p><strong>Article 10&nbsp;: R&egrave;glement int&eacute;rieur et Charte informatique </strong></p>
<p>&nbsp;</p>
<p>(En fonction des entreprises). Les parties s&rsquo;engagent &agrave; respecter les dispositions l&eacute;gales, r&eacute;glementaires et conventionnelles en vigueur dans l&rsquo;entreprise et le salari&eacute; d&eacute;clare avoir pris connaissance du R&egrave;glement Int&eacute;rieur.</p>
<p>Vous vous engagez &eacute;galement &agrave; accepter les modalit&eacute;s de la Charte informatique, dont un exemplaire est port&eacute; &agrave; votre connaissance au moment de votre arriv&eacute;e.</p>
<p>&nbsp;</p>
<p><strong>Article 11&nbsp;: R&eacute;siliation</strong></p>
<p>&nbsp;</p>
<p>Sauf licenciement pour faute grave ou lourde, le contrat pourra &ecirc;tre r&eacute;sili&eacute;, par l&rsquo;une ou l&rsquo;autre des parties, moyennant un d&eacute;lai-cong&eacute; dont la dur&eacute;e est fix&eacute;e par la convention collective en fonction du statut et de l&rsquo;anciennet&eacute; dans l&rsquo;entreprise.</p>
<p>&nbsp;</p>
<p><strong>Article&nbsp;12 : Modifications des informations personnelles</strong></p>
<p>&nbsp;</p>
<p>Vous vous engagez &agrave; informer la soci&eacute;t&eacute; dans les meilleurs d&eacute;lais de tout changement de votre situation personnelle (adresse, nombre de personnes &agrave; charge&hellip;). Cette base d&rsquo;informations est transmise au Comit&eacute; d&rsquo;Entreprise et lui permet d&rsquo;attribuer d&rsquo;&eacute;ventuels avantages conditionn&eacute;s &agrave; ses crit&egrave;res.</p>
<p>Votre accord implique formellement que vous n'&ecirc;tes li&eacute; (e) &agrave; aucune autre entreprise et que vous avez quitt&eacute; votre pr&eacute;c&eacute;dent employeur libre de tout engagement. Vous vous engagez &agrave; consacrer toute votre activit&eacute; professionnelle au service de la soci&eacute;t&eacute;.</p>
<p>Vous voudrez bien nous confirmer votre accord en apposant votre signature pr&eacute;c&eacute;d&eacute;e de la mention manuscrite "lu et approuv&eacute;" sur la derni&egrave;re page, les pages pr&eacute;c&eacute;dentes &eacute;tant &eacute;galement &agrave; parapher par vos soins.</p>
<p>&nbsp;</p>
<p>Nous vous prions de croire, {{employe }} , &agrave; l'expression de nos salutations distingu&eacute;es.</p>
<p>&nbsp;</p>
<p>Fait en deux originaux,</p>
<p>A ......., le ".................",</p>
<p style="text-align: right;">Le signataire,</p>
<p style="text-align: left;">Le /La salari&eacute;(e)</p>
